@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('../fonts/Gilory/Gilroy-Semibold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilory/Gilroy-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilory/Gilroy-Light.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilory/Gilroy-Bold.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  $gilroy-semi-bold: 'Gilroy-Semibold', sans-serif;
  $gilroy-regular: 'Gilroy', sans-serif;
  $gilroy-bold: 'Gilroy-Bold', sans-serif;
  $gilroy-light: 'Gilroy-Light', sans-serif;
  $minor-font: 'Inter', sans-serif;

  $main-fontcolor: #252525;