@import "./reset.scss";

.container {
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  border-bottom: 1px solid #252525;
  margin: 0 auto;
}

.contact__title {
  font-family: Gilroy;
  color: #252525;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 17vw;
    letter-spacing: 1vw;
    margin: 30px 0;
  }

  @media (min-width: 769px) and (max-width: 1200px) {
    font-size: 17vw;
    letter-spacing: 1vw;
    margin: 30px 0;
  }

  @media (min-width: 1201px) {
    font-size: 212px;
    letter-spacing: 8.48px;
    margin: 50px 0;
  }

  &--aside {
      letter-spacing: 0px;
  
      @media (max-width: 768px) {
          font-size: 16vw;
        }
  
      @media (min-width: 769px) and (max-width: 1200px) {
          font-size: 16vw;
        }
      
      @media (min-width: 1201px) {
          font-size: 150px;
          margin-top: 0;
          margin-bottom: 100px;
      }
    }
}

.contact {  
    background: #f5f3ea;            
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 40px; 

    @media (max-width: 768px) {
        padding: 0 20px 50px;  
    }
    
    @media (min-width: 769px) and (max-width: 1200px)  {
        padding: 30px 30px 50px; 
    }
      
    @media (min-width: 1201px) { 
        padding: 50px 70px 100px; 
        flex-direction: row;
        justify-content: space-between;
    }

    .contact__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        @media (min-width: 1201px) { 
            align-items: start;
        }

        .contact__info-header {
            color: #252525;
            font-family: $gilroy-bold;
            font-size: 64px;            
            font-weight: 400;            
            text-transform: uppercase;
            text-align: center; 

            @media (max-width: 1500px) {
                font-size: 4vw; 
            }           

            @media (max-width: 1200px) {
                font-size: 7vw; 
            }
    
            @media (max-width: 790px) {  
                font-size: 6vw; 
            }            
                             
            @media (min-width: 1201px) { 
                text-align: start;
              }
        }

        .contact__info-text {
            color: #252525;
            font-family: $gilroy-regular;
            font-size: 34px;            
            font-weight: 400;  
            text-align: center;             
            
            @media (max-width: 1200px) {
                font-size: 7vw; 
            }
    
            @media (max-width: 790px) {  
                font-size: 6vw; 
            }           
              
            @media (min-width: 1201px) {
                text-align: start;
            }
        }     
    }
}

.contact__btn {
    font-family: $gilroy-regular;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #252525;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    position: relative;

    &--arrow {
        padding-right: 45px;
      }

    &--mobile {
        @media (max-width: 768px) {
          width: 100%;
        }
      }
      &--tablet {
        @media (min-width: 769px) {
          padding-right: 45px;
        }
      }
}

.contact__btn-text {
    position: relative;
    right: 5px;
    padding-right: 10px;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      margin-left: 10px;
    }
    &::before {
      width: 24px;
      height: 2px;
      background-color: #fff;
      top: 51.5%;
      right: 0;
      transform: translate(100%, -50%);
    }
    &::after {
      width: 11px;
      height: 11px;
      border: 2.5px solid #fff;
      border-radius: 1.5px;
      border-top: none;
      border-left: none;
      top: 4.72px;
      right: -24px;
      transform: rotate(-45deg);
    }
  }