@import "./normalize.scss";

p {
  color: $main-fontcolor;
}

header {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
  
  @media (max-width: 1200px) {
    padding: 40px 30px;
  }
  @media (max-width: 768px) {
    padding: 20px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav__logos {
  display: flex;
  align-items: center;
}

.header-nav__logos-img {
  width: 91px;
  height: 35px;
  padding-right: 10px;
}

.header-nav__logos-text {
  margin: 0;
  color: black;
  font-size: 35px;
  font-family: $gilroy-regular;
  font-weight: 800;
  @media (max-width: 768px) {
    display: none;
  }

  & .header-nav__logos-text_bold {
    color: black;
    font-size: 35px;
    font-family: $gilroy-regular;
    font-weight: 400;
    text-transform: uppercase;
  }

  & .header-nav__logos-text_r {
    color: black;
    font-size: 20px;
    font-family: $gilroy-regular;
    font-weight: 300;
  }
}

.header-nav__menu {
  font-size: 25px;
    font-family: $gilroy-semi-bold;
    text-transform: uppercase;
}

