@import "./normalize.scss";

.intro {
  text-align: center;
  padding-top: 30px;
}

.intro__main {
  padding-bottom: 40px;
}

.intro__title {
  margin: 0;
  color: $main-fontcolor;
  font-size: 150px;

  @media (max-width: 1200px) {
    font-size: 120px;
  }
  @media (max-width: 768px) {
    font-size: 57px;
  }
}

.title1 {
  text-transform: uppercase;
  font-family: $gilroy-semi-bold;
  font-weight: 400;
}

.title2 {
  font-family: $gilroy-regular;
  font-weight: 300;
}

.intro__img {
  margin: 0 auto;
  padding-top: 30px;
}

.hero-img {
  width: 100%;
}

.about {
  background: #f5f3ea;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding-top: 70px;
  display: grid;
  grid-template-columns: 70% 30%;

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    padding-top: 0;

    & .about__text {
      padding: 30px;
      width: 100%;
    }

    & .about__socials {
      width: 100%;
      padding-bottom: 40px;
    }
  }
  @media (max-width: 768px) {
    & .about__text {
      padding: 30px 20px;
    }
  }
}

.about__text {
  margin: 1px;
  text-align: start;
  padding-left: 70px;
  padding-right: 70px;

  color: $main-fontcolor;
  font-size: 50px;
  font-family: $gilroy-regular;
  font-weight: 300;

  & span {
    font-weight: 800;
  }
}

.about__socials {
  background: $main-fontcolor;
  padding-right: 70px;
  text-align: end;

  & .about__socials-text {
    padding: 20px;
    color: white;
    font-size: 32px;
    font-family: $gilroy-regular;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.about__socials-list {
  display: flex;
  justify-content: end;
}

.about__socials-icon {
  padding-right: 20px;
}

.logos {
  background: #f5f3ea;
  padding: 70px;

  @media (max-width: 1200px) {
    padding: 40px 30px;
  }
}

.logos-list {
  display: flex;
  justify-content: center;
  padding: 0;

  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    & .logos-list__item {
      margin-left: 20px;
      background: white;
      padding: 15px 40px;
      border-radius: 35px;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      justify-content: center;

      & img {
        object-fit: contain;
      }
    }
  }
  @media (max-width: 799px) {
    margin: 0 auto;
    max-width: 77vh;
    display: grid;
    grid-template-columns: 44% 12% 44%;
    grid-template-rows: (5, 20%);

    .logos-list__item {
      margin: 0;
      height: 70px;
    }

    & .logos-list__item:nth-child(7) {
      margin: 0 auto;
      width: 52%;
      grid-column: 1 / span 3;
      grid-row: 1;
    }
    & .logos-list__item:nth-child(6) {
      margin: 0 auto;
      width: 59%;
      grid-column: 1 / span 3;
      grid-row: 2;
    }
    & .logos-list__item:nth-child(5) {
      margin-left: auto;
      width: 95.5%;
      grid-column: 1 / span 1;
      grid-row: 3;
    }
    & .logos-list__item:nth-child(4) {
      margin-right: auto;
      width: 94.6%;
      grid-column: 2 / span 2;
      grid-row: 3;
    }
    & .logos-list__item:nth-child(3) {
      margin-left: auto;
      width: 87.5%;
      grid-column: 1 / span 2;
      grid-row: 4;
    }
    & .logos-list__item:nth-child(2) {
      margin-right: auto;
      width: 84%;
      grid-column: 3 / span 1;
      grid-row: 4;
    }
    & .logos-list__item:nth-child(1) {
      margin: 0 auto;
      width: 52%;
      grid-column: 1 / span 3;
      grid-row: 5;
    }
  }
}

.logos-list__item {
  margin-left: 20px;
  background: white;
  padding: 15px 25px;
  border-radius: 35px;
  overflow: hidden;
  display: inline-block;

  & img {
    width: 100%;
    height: auto;
    display: block;
  }
}