@import "./normalize.scss";

.our-team {
  text-align: center;
  background: #f5f3ea;
  padding-bottom: 50px;
}

.our-team__title {
  padding-top: 50px;
  margin: 0;
  text-transform: uppercase;
  font-family: $gilroy-regular;
  font-size: 212px;
  font-weight: 300;
  color: $main-fontcolor;

  @media (max-width: 1200px) {
    font-size: 150px;
  }
  @media (max-width: 768px) {
    font-size: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.our-team__table {
  margin: 0 auto;
  padding: 70px;

  @media (max-width: 1200px) {
    padding: 0;
  }
}

.our-team__list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns:  repeat(4, 1fr);
  gap: 40px;

  @media (max-width: 1200px) {
    padding: 0 30px 0 30px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns:  repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.our-team__list-item {
  text-align: start;

  & .our-team__list-name {
    font-size: 30px;
    font-family: $gilroy-bold;
    margin: 0;
    font-weight: 800;
  }
  .our-team__list-job {
    margin: 0;
    font-size: 20px;
    font-family: $gilroy-regular;
    font-weight: 400;
    color: #333333;
  }
  @media (max-width: 768px) {
    text-align: center;
  }
}

.our-team__list-photo {
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  display: block;
  width: 100%;
  height: auto;
}

.our-team__list-socials {
  display: flex;
  justify-content: end;

  & .socials-icon {
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.team-info {
  @media (max-width: 1200px) {
    & .team-info__text {
      padding-top: 30px;
    }
  }

  & .team-info__text {
    padding-top: 50px;
    margin: 0;
    color: #333333;
    font-size: 30px;
    font-family: $gilroy-regular;
    font-weight: 400;
    text-transform: uppercase;
  }
  & .team-info__main {
    margin: 0;
    color: #333333;
    font-size: 64px;
    text-transform: uppercase;
    font-family: $gilroy-bold;
    font-weight: 400;

    @media (max-width: 768px) {
      padding-bottom: 15px;
    }
  }

  & .team-info__btn {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    border-radius: 35px;
    font-size: 18px;
    font-family: $gilroy-regular;
    font-weight: 400;
    color: white;
    background: $main-fontcolor;
    border: none;

    & img {
      margin-left: 15px;
      width: 24px;
      height: 21px;
    }

    @media (max-width: 769px) {
      margin: 0 auto;
      padding: 15px 30px;
      min-width: 340px;
    }
  }
}

.about-team {
  grid-column: span 2;
}
