@import "./normalize.scss";

.selected-work {
  text-align: center;
  background: #f5f3ea;
  padding-bottom: 100px;
}
.selected-work__title {
  margin: 0;
  font-size: 212px;
  font-family: $gilroy-regular;
  font-weight: 300;
  padding-top: 70px;
  padding-left: 70px;
  padding-right: 70px;

  @media (max-width: 1200px) {
    font-size: 150px;
  }
  @media (max-width: 768px) {
    font-size: 80px;
  }
}

.selected-work-table {
  margin: 0 auto;
  padding: 70px;
  width: 100%;
  @media (max-width: 1200px) {
    padding: 30px;
  }
  @media (max-width: 768px) {
    padding: 20px;
  }
}

.selected-work__list {
  gap: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @media (max-width: 768px) {
    gap: 20px;
  }

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;

    width: 100%;

    & .texted-item {
      max-height: 400px;
    }

    & img {
      width: 100%;
      height: auto;
      max-width: 935px;
      max-height: 935px;
    }
  }
}

.selected-work__list-item {
  width: 100%;

  & img {
    max-height: 100%;
  }
}

.selected-content {
  text-align: start;
}

.selected-content__title {
  margin: 0;
  color: black;
  font-size: 40px;
  font-family: $gilroy-semi-bold;
  font-weight: 400;
  text-transform: uppercase;
}
.selected-content__categories {
  padding-top: 30px;
  display: flex;
  justify-content: start;

  & .categories-text {
    padding: 15px 30px;
    background: white;
    border-radius: 35px;
    overflow: hidden;
    display: inline-block;
    margin-right: 30px;
    color: $main-fontcolor;
    font-size: 18px;
    font-family: $gilroy-regular;
    font-weight: 400;
  }
}

.texted-item {
  display: flex;
  flex-direction: column;

  & .discover-box {
    margin-left: auto;
    margin-top: auto;
  }
}

.discover {
  width: 150px;
  height: 50px;
  display: flex;
  border: none;
  background: $main-fontcolor;
  color: white;
  font-size: 18px;
  font-family: $gilroy-regular;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  margin: 15px 30px;

  & .discover-img {
    width: 20px;
    height: 15px;
    margin-left: 10px;
  }
}
.all-works {
  padding: 15px 30px;
  background: white;
  border-radius: 35px;
  display: inline-block;
  color: black;
  font-family: $gilroy-regular;
  font-size: 18px;

  @media (max-width: 768px){
    padding: 15px 180px;
  }
}