<header>
    <nav class="header-nav">
        <div class="header-nav__logos">
            <img src="./images/nav-logo.svg" alt="nav-logo" class="header-nav__logos-img">
            <p class="header-nav__logos-text">Dianne <span class="header-nav__logos-text_bold">Studio</span><span class="header-nav__logos-text_r"> ®</span></p>
        </div>
        <p class="header-nav__menu">
            menu
        </p>
    </nav>
</header>