<section class="intro">
    <div class="intro__main">
        <h1 class="intro__title title1">Dianne Russell</h1>
        <h1 class="intro__title title2">Digital Design</h1>
        <img class="intro__img" src="./images/arrow1.svg" alt="arrow">
    </div>
    <img src="./images/hero-image.jpg" alt="hero-image" class="hero-img">

    <div class="about">
        <p class="about__text">
            From art to technology, we transform visions into extraordinary <span> digital experiences</span> - your design, our passion, an exceptional future
        </p>
        <div class="about__socials">
            <p class="about__socials-text">
                About Me
            </p>
            <ul class="about__socials-list">
                <li class="about__socials-list_element">
                    <img src="./images/socials/facebook_white.svg" alt="facebook" class="about__socials-icon">
                </li>
                <li class="about__socials-list_element">
                    <img src="./images/socials/twitter_white.svg" alt="twitter" class="about__socials-icon">
                </li>
                <li class="about__socials-list_element">
                    <img src="./images/socials/linkedin_white.svg" alt="linkedin" class="about__socials-icon">
                </li>
                <li class="about__socials-list_element">
                    <img src="./images/socials/dribble_white.svg" alt="dribble" class="about__socials-icon">
                </li>
            </ul>
        </div>
    </div>
    <div class="logos">
        <ul class="logos-list">
            <li class="logos-list__item"><img src="./images/logos/logo-1.svg" alt="logo-1" class="logos-list__item_img"></li>
            <li class="logos-list__item"><img src="./images/logos/logo-2.svg" alt="logo-2" class="logos-list__item_img"></li>
            <li class="logos-list__item"><img src="./images/logos/logo-3.svg" alt="logo-3" class="logos-list__item_img"></li>
            <li class="logos-list__item"><img src="./images/logos/logo-4.svg" alt="logo-4" class="logos-list__item_img"></li>
            <li class="logos-list__item"><img src="./images/logos/logo-5.svg" alt="logo-5" class="logos-list__item_img"></li>
            <li class="logos-list__item"><img src="./images/logos/logo-6.svg" alt="logo-6" class="logos-list__item_img"></li>
            <li class="logos-list__item"><img src="./images/logos/logo-7.svg" alt="logo-7" class="logos-list__item_img"></li>
        </ul>
    </div>
</section>