<section class="our-team">
    <h1 class="our-team__title">
        our team
    </h1>
    <div class="our-team__table">
        <ul class="our-team__list">
            <li class="our-team__list-item">
                <p class="our-team__list-name">Tyra Dhillon</p>
                <p class="our-team__list-job">Creative Director</p>
                <img src="./images/photo1.png" alt="member1" class="our-team__list-photo">
                <div class="our-team__list-socials">
                    <img src="./images/socials/facebook_black.svg" alt="facebook" class="socials-icon">
                    <img src="./images/socials/twitter_black.svg" alt="twitter" class="socials-icon">
                    <img src="./images/socials/linkedin_black.svg" alt="linkedin" class="socials-icon">
                    <img src="./images/socials/dribble_black.svg" alt="dribble" class="socials-icon">
                </div>
            </li>
            <li class="our-team__list-item">
                <p class="our-team__list-name">Darcel Ballentine</p>
                <p class="our-team__list-job">Brand Designer</p>
                <img src="./images/photo2.png" alt="member2" class="our-team__list-photo">
                <div class="our-team__list-socials">
                    <img src="./images/socials/facebook_black.svg" alt="facebook" class="socials-icon">
                    <img src="./images/socials/twitter_black.svg" alt="twitter" class="socials-icon">
                    <img src="./images/socials/linkedin_black.svg" alt="linkedin" class="socials-icon">
                    <img src="./images/socials/dribble_black.svg" alt="dribble" class="socials-icon">
                </div>
            </li>
            <li class="our-team__list-item">
                <p class="our-team__list-name">Brittni Lando</p>
                <p class="our-team__list-job">Fashion Designer</p>
                <img src="./images/photo3.png" alt="member3" class="our-team__list-photo">
                <div class="our-team__list-socials">
                    <img src="./images/socials/facebook_black.svg" alt="facebook" class="socials-icon">
                    <img src="./images/socials/twitter_black.svg" alt="twitter" class="socials-icon">
                    <img src="./images/socials/linkedin_black.svg" alt="linkedin" class="socials-icon">
                    <img src="./images/socials/dribble_black.svg" alt="dribble" class="socials-icon">
                </div>
            </li>
            <li class="our-team__list-item">
                <p class="our-team__list-name">Roselle Ehrman</p>
                <p class="our-team__list-job">Graphic Designer</p>
                <img src="./images/photo4.png" alt="member4" class="our-team__list-photo">
                <div class="our-team__list-socials">
                    <img src="./images/socials/facebook_black.svg" alt="facebook" class="socials-icon">
                    <img src="./images/socials/twitter_black.svg" alt="twitter" class="socials-icon">
                    <img src="./images/socials/linkedin_black.svg" alt="linkedin" class="socials-icon">
                    <img src="./images/socials/dribble_black.svg" alt="dribble" class="socials-icon">
                </div>
            </li>
            <li class="our-team__list-item">
                <p class="our-team__list-name">Jane Cooper</p>
                <p class="our-team__list-job">Creative Director</p>
                <img src="./images/photo5.png" alt="member5" class="our-team__list-photo">
                <div class="our-team__list-socials">
                    <img src="./images/socials/facebook_black.svg" alt="facebook" class="socials-icon">
                    <img src="./images/socials/twitter_black.svg" alt="twitter" class="socials-icon">
                    <img src="./images/socials/linkedin_black.svg" alt="linkedin" class="socials-icon">
                    <img src="./images/socials/dribble_black.svg" alt="dribble" class="socials-icon">
                </div>
            </li>
            <li class="our-team__list-item">
                <p class="our-team__list-name">Robert Fox</p>
                <p class="our-team__list-job">Brand Designer</p>
                <img src="./images/photo6.png" alt="member6" class="our-team__list-photo">
                <div class="our-team__list-socials">
                    <img src="./images/socials/facebook_black.svg" alt="facebook" class="socials-icon">
                    <img src="./images/socials/twitter_black.svg" alt="twitter" class="socials-icon">
                    <img src="./images/socials/linkedin_black.svg" alt="linkedin" class="socials-icon">
                    <img src="./images/socials/dribble_black.svg" alt="dribble" class="socials-icon">
                </div>
            </li>
            <li class="our-team__list-item about-team">
                <div class="team-info">
                    <p class="team-info__text">Join the team</p>
                    <p class="team-info__main">
                        Desire to influence the future of branding?
                    </p>
                    <button class="team-info__btn">
                        Find Job
                        <img src="./images/discorver_arrow.svg" alt="arrow-right">
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>