<section class="selected-work">
    <h1 class="selected-work__title">
        Selected Work
    </h1>
    <div class="selected-work-table">
        <div class="selected-work__list">
            <div class="selected-work__list-item texted-item">
                <div class="selected-content">
                    <h1 class="selected-content__title">Trinity</h1>
                    <div class="selected-content__categories">
                        <p class="categories-text">Digital Design</p>
                        <p class="categories-text">2022</p>
                    </div>
                </div>
                <div class="discover-box">
                    <button class="discover">
                        Discover
                        <img src="./images/discorver_arrow.svg" alt="discover" class="discover-img">
                    </button>
                </div>
            </div>
            <div class="selected-work__list-item"><img src="./images/1.png" alt="trinity2" class="selected-work__list-item-img "></div>
            <div class="selected-work__list-item"><img src="./images/2.png" alt="trinity1" class="selected-work__list-item-img "></div>
            <div class="selected-work__list-item"><img src="./images/3.png" alt="morpheus1" class="selected-work__list-item-img "></div>
            <div class="selected-work__list-item"><img src="./images/4.png" alt="morpheus2" class="selected-work__list-item-img "></div>
            <div class="selected-work__list-item texted-item">
                <div class="selected-content">
                    <h1 class="selected-content__title">Morpheus</h1>
                    <div class="selected-content__categories">
                        <p class="categories-text">Digital Design</p>
                        <p class="categories-text">2023</p>
                    </div>
                </div>
                <div class="discover-box">
                    <button class="discover">
                        Discover
                        <img src="./images/discorver_arrow.svg" alt="discover" class="discover-img">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <p class="all-works">
        All Works
    </p>
</section>