<section class="directions container">
  <div class="directions__aside">
    <h2 class="directions__title directions__title--aside">What I do</h2>
    <ul class="directions__list">
      <li class="directions__item">
        <h3 class="directions__item-title directions__item-title--digital">
          Digital Design
        </h3>
        <p class="directions__item-description">
          I craft captivating digital designs that captivate and motivate your
          audience. Allow me to breathe life into your brand with my expertise.
        </p>
      </li>
      <li class="directions__item">
        <h3 class="directions__item-title directions__item-title--art">
          Art Direction
        </h3>
        <p class="directions__item-description">
          My proficiency in art direction guarantees that your project aligns
          with your brand, conveys your message effectively, and is visually
          striking. Let's collaborate to narrate your story.
        </p>
      </li>
      <li class="directions__item">
        <h3 class="directions__item-title directions__item-title--interaction">
          Interaction Design
        </h3>
        <p class="directions__item-description">
          I have a specialization in creating user experiences that are not only
          functional but also aesthetically pleasing and user-friendly.
        </p>
      </li>
      <li class="directions__item">
        <h3 class="directions__item-title directions__item-title--motion">
          Motion Design
        </h3>
        <p class="directions__item-description">
          From dynamic logos to informative explainer videos, I infuse life into
          your message through visually mesmerizing motion design.
        </p>
      </li>
    </ul>
  </div>
</section>
